
.gradient-background{
    background: linear-gradient(300deg, #398dcd, #f707c3 ,#ff0909);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
.image-profile{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}